
<div class="about pt-94">
   <div class="py-5 ">
    <div class="header2 py-5">
        <h2 class="m-auto">ABOUT COMPONENT <span></span></h2>
    </div>
    <div class="row justify-content-center pb-5 m-0">
        <div class="col-md-4">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-4">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
   </div>
</div>
</div>